@using KendoUIMVCExamples.Models
<h2>@ViewBag.Message</h2>

@helper GetTemplate()
{
    <text>
        # if(Id == 1) { #
        <a class='issue-date-link' data-is-european-country='#=Id#'>#=Id#</a>
        # } #
    </text>
}

@(Html.Kendo().Grid<ClientTemplateData>()
      .Name("Grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Id);
          columns.Bound(c => c.Name).ClientTemplate(GetTemplate().ToString().Trim());
      })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .HtmlAttributes(new { style = "height: 75%;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .Selectable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(i => i.Id))
          .Model(model =>
          {
              model.Field(f => f.Id).Editable(false);
              model.Field(f => f.Name).Editable(false);
          }).Read(read => read.Action("ClientTemplate_Read", "Home"))
      )
)
