@using System.Web.Mvc.Html
@using KendoUIMVCExamples.Models
<h2>@ViewBag.Message</h2>

@(Html.Kendo().Grid<IndexData>()
      .Name("Grid")
      .Columns(columns =>
      {
          columns.Bound(c => c.Name).ClientTemplate(@Html.ActionLink("#=Name#", "#=Name#").ToHtmlString());
      })
      .Editable(editable => editable.Mode(GridEditMode.InCell))
      .HtmlAttributes(new { style = "height: 75%;" })
      .Scrollable()
      .Groupable()
      .Sortable()
      .Selectable()
      .DataSource(dataSource => dataSource
          .Ajax()
          .Model(model => model.Id(i => i.Id))
          .Model(model =>
          {
              model.Field(f => f.Id).Editable(false);
              model.Field(f => f.Name).Editable(false);
          }).Read(read => read.Action("Index_Read", "Home"))
      )
)
